<%- include('../partials/header', { title: 'New Flight'}) %>

    <h2>Enter a New Flight</h2>
    <form action="/flights" method="POST">
        <label>Airline:
          <input type="text" name="airline">
        </label><br>
        <label>Flight Number:
          <input type="text" name="flightNum">
        </label><br>
        <label>Departs:
          <input type="date" name="departs"> 
        </label><br>
        <label>Airport:
          <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DAL">DAL</option>
            <option value="LAX">LAX</option>
            <option value="SEA">SEA</option>
          </select>
        </label><br>
        <input id="add-flight" type="submit" value="Add Flight">
    </form>   

<%- include('../partials/footer') %>